/* Overlay */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenido del Modal */
.modalContent {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
}

/* Encabezado */
.modalHeader {
    background-color: hsl(221, 51%, 50%);
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalTitle {
    font-size: 1.25rem;
    margin: 0;
}

.closeButton {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent !important;
    transition: transform 0.3s ease;
    /* Agrega una transición suave */
}

.closeButton:hover {
    transform: scale(1.2);
    /* Aumenta el tamaño en un 20% al hacer hover */
}

/* Cuerpo */
.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
}

.modalBody p {
    color: hsl(221, 51%, 50%);
    font-size: 1.1rem;
}

.password {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.passwordInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex: 1;
}

.copyButton {
    background: transparent !important;
    border: none;
    color: blue !important;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.copyButton:hover {
    color: hsl(0, 0%, 0%) !important;
    transition: color 0.3s ease;
}

/* Pie de Página */
.modalFooter {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 16px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}

.cancelButton {
    padding: 8px 16px;
    background-color: hsl(0, 0%, 87%);
    color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancelButton:hover {
    background-color: hsl(0, 0%, 70%);
}

.saveButton {
    padding: 8px 16px;
    background-color: hsl(221, 51%, 50%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.saveButton:hover {
    background-color: hsl(221, 51%, 40%);
}

/* Botón para generar una nueva contraseña */
.generateButton {
    padding: 8px 16px;
    background-color: hsl(221, 51%, 50%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 16px;
    font-size: 0.9rem;
}

.generateButton:hover {
    background-color: hsl(221, 51%, 40%);
}